@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;   
}

#nav-bar {
    position: sticky;
    top: 0;  
    z-index: 10; 
}   

.navbar {
    background-image: linear-gradient(to bottom right, #e4cd84, #b49854, #e6c068);
    padding: 0 !important;
    
}
/* Colors -  linear-gradient(to bottom right, #e4cd84, #b49854, #e6c068);  */

.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 20px !important;
    text-align: center;
    
}
.navbar-brand span {
    display: inline-block;
    font-size: 1.2em;
    -webkit-text-stroke: 1px white;
}


/*S*/
.navbar-brand span:nth-child(1) {
    color: #3a2f1e;
    transform: rotate3d(0, 0, 1, 15deg) translateX(5px);
   
}
/*K*/
.navbar-brand span:nth-child(2) {
    color: #e4cd84;
    transform: rotate3d(0, 0, 1, 10deg) translateX(5px);
}
/*Y*/
.navbar-brand span:nth-child(3) {
    color: #3a2f1e;
    transform: rotate3d(0, 0, 1, -25deg) translateX(5px);
}
/*C*/
.navbar-brand span:nth-child(4) {
    color: #b49854;
    transform: rotate3d(0, 0, 1, 0deg) translateX(5px);
}
/*I*/
.navbar-brand span:nth-child(5) {
    color: #e6c068;
    transform: rotate3d(0, 0, 1, -15deg) translateX(5px);
}
/*T*/
.navbar-brand span:nth-child(6) {
    color: #77663f;
    transform: rotate3d(0, 0, 1, 15deg) translateX(5px);
}
/*Y*/
.navbar-brand span:nth-child(7) {
    color: #e4cd84;
    transform: rotate3d(0, 0, 1, -20deg) translateX(0px);
}

@media (max-width: 991px) {
    .navbar-brand span {
        font-size: 1.0em;
    }
}



.navbar-nav li {
    padding: 0 5px;
}


.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    font-family: cinzel;
    font-weight: 400;
   
}

.navbar-toggler{
   padding: 0 !important;
   border: none !important;
}

/*----Banner----*/
.background-image-container {
    background-image: url('Assests/skyCity-.png');
    background-size: 33%;
    background-position: center;
    height: 50vh; 
    width: 100vw;
}

.lamborghin-container {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.lamborghin img {
    width: 50vw;
    height: 50vh;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Geneva_MotorShow_2013_-_Lamborghini_Veneno_1.jpg/800px-Geneva_MotorShow_2013_-_Lamborghini_Veneno_1.jpg");
    margin: 0px;
 
}

.background-txt-container {
    width: 100vw;
    display: flex;
    border: white solid 1px;
}

.text-box-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically in the center */
    align-items: center; /* Align items horizontally in the center */
    width: 50vw;
    text-align: center;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    background-color: rgb(225, 222, 222);
    height: 50vh; 
    border: white solid 1px ;
}

.title {
    font-weight: 400;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.8);
}

.slogan {
    font-size: 16px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);

   
}
